<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ksmart</title>
</head>
<body>
	<h1>thymeleaf exam06</h1><br>
	
	<table border="1" th:with="target='id001'">
		<thead>	
			<tr>
		      <td>아이디</td>
		      <td>비밀번호</td>
		      <td>level</td>
		      <td>이름</td>
		      <td>이메일</td>
			</tr>
		</thead>
		<tbody>
		    <tr th:each="member : ${list}">
		       <td>
		       	<a href="#" th:if="${member.memberId eq target}">[[${member.memberId}]]</a>
		       	<span th:unless="${member.memberId eq target}">[[${member.memberId}]]</span>
		       </td>
		       <td th:text="${member.memberPw}"></td>
		       <td th:text="${member.memberLevel}"></td>
		       <td th:text="${member.memberName}"></td>
		       <td>[[${member.memberEmail}]]</td>
		    </tr>
		</tbody>
	</table>
</body>
</html>